[submodule "externals/StateMachine"]
	path = externals/StateMachine
	url = git@github.com:dmanning23/StateMachine.git
[submodule "externals/Filename"]
	path = externals/Filename
	url = git@github.com:dmanning23/Filename.git
